<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Ianitsky_ViaCep::Postcode" sortOrder="10" title="Postcode">
					<resource id="Ianitsky_ViaCep::Postcode_save" sortOrder="10" title="Save Postcode"/>
					<resource id="Ianitsky_ViaCep::Postcode_delete" sortOrder="20" title="Delete Postcode"/>
					<resource id="Ianitsky_ViaCep::Postcode_update" sortOrder="30" title="Update Postcode"/>
					<resource id="Ianitsky_ViaCep::Postcode_view" sortOrder="40" title="View Postcode"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
